<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <h1 class="count">Open Task &nbsp;<span class="badge badge-secondary">{{vm.count}}</span></h1>
            <div class="table100 ver1 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                            <tr class="row100 head">
                                <th class="cell100 column1">Task ID</th>
                                <th class="cell100 column2">Created By</th>
                                <th class="cell100 column3">Assigned To</th>
                                <th class="cell100 column4">Title</th>
                                <th class="cell100 column5">Priority</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <table>
                        <tbody>
                            <tr class="row100 body" ng-repeat="task in vm.tasks">
                                <td class="cell100 column1">{{task.id}}</td>
                                <td class="cell100 column2">{{task.creator_name}}</td>
                                <td class="cell100 column3">{{task.assignee_name}}</td>
                                <td class="cell100 column4">{{task.title}}</td>
                                <td class="cell100 column5">{{task.priority}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>