# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Ignore pycharm
.idea/
*/.idea/*

# Env
env/

# Ignore Node modules
node_modules/
static/node_modules/

# Ignore log
*.log

# Ignore DB
db.sqlite3

